<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<form class="new-form" action="/users/create" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  Name:
  <input type="text" name="name">
  Email:
  <input type="email" name="email">
  Age:
  <input type="number" name="age">
  <input type="submit" name="submit" value="Submit">
</forcreate
